@import "reset.css";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* 菜单 Navigation*/

.logo {
    height: 34px;
    margin-bottom: 30px;
    background-color: #EDF4EC;
}

.logo a img {
    float: left;
    width: 102px;
    height: 20px;
    margin: 7px 13px;
}

.logo h1 {
    display: none;
}

.nav .container {
    height: 32px;
    margin-bottom: 25px;
}

.nav .container .content {
    width: 1080px;
    margin: 0 auto;
}

.nav .container .content .left {
    float: left;
    height: 30px;
    margin: 4px 0;
}

.nav .container .content .right {
    float: right;
}

.nav .container .content .left .site-name,
.nav .container .content .left .search-bar {
    display: inline-block;
    height: 19px;
}

.nav .container .content .left .site-name {
    margin-right: 24px;
}

.nav .container .content .left .site-name img {
    display: block;
    height: 24px;
    width: 73px;
}

.nav .container .content .left .search-bar {
    position: relative;
}

.nav .container .content .left .search-bar div {
    border: 1px solid #c3c3c3;
    width: 270px;
    height: 30px;
    line-height: 30px;
}

.nav .container .content .left .search-bar input {
    padding: 5px;
    border: 0;
}

.nav .container .content .left .search-bar .search-submit {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    right: 1px;
    ;
}

input[type="text"] {
    width: 240px;
}

input[type="text"]::placeholder {
    color: #c3c3c3;
}

.nav .container .content .right ul {
    height: 35px;
    line-height: 35px;
}

.nav .container .content .right ul li {
    display: inline-block;
    /* padding: 0 2px; */
    margin-right: 14px;
}

.nav .container .content .right ul li a {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.nav .container .content .right ul li a .book {
    color: #5c452d;
}

.nav .container .content .right ul li a .movie {
    color: #278dce;
}

.nav .container .content .right ul li a .music {
    color: #f37f00;
}

.nav .container .content .right ul li a .same-city {
    color: #e85408;
}

.nav .container .content .right ul li a .group {
    color: #0f959d;
}

.nav .container .content .right ul li a .read {
    color: #389eac;
}

.nav .container .content .right ul li a .fm {
    color: #9bd6c5;
}

.nav .container .content .right ul li a .time {
    color: #4c4c4c;
    position: relative;
}

.nav .container .content .right ul li a .time::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 1.5px;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 50%;
    top: 1px;
    right: 12px;
}

.nav .container .content .right ul li a .shop {
    color: #44883e;
}

/* 登入区域 Login Section*/

.login-background {
    height: 304px;
    background-image: url(../img/login_background.jpg);
    background-size: contain;
    background-color: #f0f4ec;
    background-repeat: no-repeat;
    background-position: 110px;
    margin-bottom: 25px;
}

.login-background .login-container {
    width: 950px;
    height: 304px;
    margin: 0 auto;
    position: relative;
}

.login-background .login-container .install-app {
    position: absolute;
    height: 120px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 475px;
}

.install-app h2 {
    font-size: 25px;
    margin: 7px 0;
}

.install-app .download-method {
    margin-top: 25px;
}

.install-app .download-method a {
    padding: 9px 21px;
    font-size: 12px;
    color: #fff;
    background-color: #00B51D;
    border-radius: 2px;
    vertical-align: super;
}

.install-app .download-method .qr-link {
    display: inline-block;
    vertical-align: sub;
    position: relative;
    width: 28px;
    height: 28px;
}

.login-background .login-container .install-app .download-method .qr-link .qr {
    vertical-align: sub;
    border: 1px solid #48aa0d;
    border-radius: 2px;
    background-image: url(../img/icon_qrcode_green.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
}

/* .login-background .login-container .install-app .download-method .qr-link img {
    display: inline-block;
    width: 28px;
    aspect-ratio: auto 28 / 28;
    height: 28px;
    vertical-align: sub;
    border: 1px solid #48aa0d;
    border-radius: 2px;
} */

/* .login-background .login-container .install-app .download-method .qr-link .qr img {
    display: none;
}

.login-background .login-container .install-app .download-method .qr-link .qr img:hover {
    display: block;
    position: absolute;
    border: none;
    background-image: url();
    width: 160px;
    height: 160px;
} */

.login-background .login-container .login-section {
    float: right;
    position: relative;
    width: 280px;
    height: 264px;
    overflow: hidden;
    padding: 30px 10px 10px;
}

.login-section .login-normal {
    height: inherit;
}

.login-section .login-type {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100%;
}

.login-section .login-type a {
    position: absolute;
    background-size: 30px;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
}

.login-section .login-type a.active {
    display: inline;
}

.login-section .login-type .qr {
    background-image: url(../img/topright_loginQR.png);
    display: none;
}

.login-section .login-type .norm {
    background-image: url(../img/topright_loginNorm.png);
    display: none;
}



.login-section .login-normal .title {
    margin-bottom: 10px;
}

.login-section .login-normal .title ul {
    text-align: center;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    font-size: 12px;
}

.login-section .login-normal .title ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    line-height: 2;
    cursor: pointer;
}

.login-section .login-normal .title ul li.active {
    border-bottom: 1px solid #494949;
    font-weight: 600;
    color: #333;
}

.login-section .login-normal .sms-details {
    height: 229px;
}

.sms-details .form .policy {
    font-size: 12px;
    margin-bottom: 10px;
    color: #9b9b9b;
}

.sms-details .form .policy a {
    color: #41ac52;
}

.sms-details .form .phone-input {
    margin-bottom: 10px;
    height: 32.8px;
    width: 280px;
    position: relative;
}

.sms-details .form .phone-input::after {
    content: "";
    position: absolute;
    border-left: 1px solid #dfdfdf;
    height: 22px;
    top: 6px;
    left: 46px;
}

.sms-details .form .phone-input .prefix,
.sms-details .form .phone-input input {
    float: left;
    padding: 8px 0;
    border: 1px solid #e4e6e5;
    border-radius: 3px;
}

.sms-details .form .phone-input .prefix {
    cursor: pointer;
    background-color: #fff;
    font-weight: 700;
    height: 16px;
    width: 50px;
    text-align: center;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sms-details .form .phone-input input {
    border-left: none;
    width: 226px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 2px;
}

.sms-details .form .sms-verify {
    margin-bottom: 10px;
    height: 32.8px;
    width: 280px;
    position: relative;
}

.sms-details .form .sms-verify input {
    padding: 8px 10px;
    width: 280px;
    border-radius: 3px;
    border: 1px solid #e4e6e5;
    box-sizing: border-box;
}

.sms-details .form .sms-verify .get-code {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    padding: 10px 0;
    font-size: 13px;
}

.sms-details .form .sms-verify .get-code a {
    color: #41ac52;
}

.sms-details .form .sms-button {
    text-align: center;
}

.sms-details .form .sms-button .code-link {
    display: block;
    padding: 9px 21px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(66, 189, 86, .5);
    border-radius: 2px;
}

.sms-details .form .sms-button .code-link.active {
    background-color: #00B51D;
}

.sms-details .cannot-receive-container {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.sms-details .cannot-receive-container .cannot-receive {
    margin: 10px 0;
    height: 21px;
    float: right;
}

.sms-details .cannot-receive a {
    color: #41ac52;
    font-size: 13px;
}

.sms-details .other-party div,
.sms-details .other-party a {
    display: inline-block;
}

.sms-details .other-party .other-party-title {
    color: #9b9b9b;
    font-size: 11px;
    text-align: center;
    vertical-align: super;
}

.sms-details .other-party .other-party-link {
    padding-top: 10px;
    text-align: center;
}

.sms-details .other-party .other-party-link .wechat,
.sms-details .other-party .other-party-link .weibo {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 12px;
}

.sms-details .other-party .other-party-link .wechat {
    background-image: url(../img/wechat_logo.svg);
}

.sms-details .other-party .other-party-link .weibo {
    background-image: url(../img/weibo_logo.svg);
}